@import "tailwindcss";

:root {
  --accent: #5271ff;
  --accent-dark: #365bff;

  --background: #ececec;
}

html {
  scrollbar-width: none;

  body {
    @apply min-h-screen bg-background bg-linear-to-b from-accent/20 via-transparent via-40% to-transparent bg-no-repeat text-neutral-600;

    font-family: Manrope, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    }
  }
}

@theme {
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);

  --color-background: var(--background);
}
